.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-bottom: 12px;
    --g-sheet-content-padding: 10px;
    --g-button-background-color: var(--pink);
    --g-button-background-color-hover: var(--pink);
    --g-text-body-font-weight: 400;
}