@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



@font-face {
  font-family: "LeMurmure";
  src: url('../shared/assets/fonts/le-murmure.otf') format('opentype');
}

.g-root {
    
    --g-font-family-sans: 'Merriweather', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --g-font-family-monospace: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
    
    
    &_theme_light {
        --g-color-private-brand-50: rgba(203,255,92,0.1);
        --g-color-private-brand-100: rgba(203,255,92,0.15);
        --g-color-private-brand-150: rgba(203,255,92,0.2);
        --g-color-private-brand-200: rgba(203,255,92,0.3);
        --g-color-private-brand-250: rgba(203,255,92,0.4);
        --g-color-private-brand-300: rgba(203,255,92,0.5);
        --g-color-private-brand-350: rgba(203,255,92,0.6);
        --g-color-private-brand-400: rgba(203,255,92,0.7);
        --g-color-private-brand-450: rgba(203,255,92,0.8);
        --g-color-private-brand-500: rgba(203,255,92,0.9);
        --g-color-private-brand-550-solid: rgb(203,255,92);
        --g-color-private-brand-1000-solid: rgb(59,63,43);
        --g-color-private-brand-950-solid: rgb(68,74,46);
        --g-color-private-brand-900-solid: rgb(85,97,51);
        --g-color-private-brand-850-solid: rgb(102,119,57);
        --g-color-private-brand-800-solid: rgb(119,142,63);
        --g-color-private-brand-750-solid: rgb(135,165,69);
        --g-color-private-brand-700-solid: rgb(152,187,75);
        --g-color-private-brand-650-solid: rgb(169,210,80);
        --g-color-private-brand-600-solid: rgb(186,232,86);
        --g-color-private-brand-500-solid: rgb(208,255,108);
        --g-color-private-brand-450-solid: rgb(213,255,125);
        --g-color-private-brand-400-solid: rgb(219,255,141);
        --g-color-private-brand-350-solid: rgb(224,255,157);
        --g-color-private-brand-300-solid: rgb(229,255,174);
        --g-color-private-brand-250-solid: rgb(234,255,190);
        --g-color-private-brand-200-solid: rgb(239,255,206);
        --g-color-private-brand-150-solid: rgb(245,255,222);
        --g-color-private-brand-100-solid: rgb(247,255,231);
        --g-color-private-brand-50-solid: rgb(250,255,239);
        
        
        --g-color-base-brand: rgb(203,255,92);
        --g-color-base-background: rgb(255,255,255);
        --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
        --g-color-base-selection: var(--g-color-private-brand-200);
        --g-color-base-selection-hover: var(--g-color-private-brand-300);
        --g-color-line-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-contrast: rgba(0, 0, 0, 0.85);
        --g-color-text-link: var(--g-color-private-brand-600-solid);
        --g-color-text-link-hover: var(--g-color-private-orange-800-solid);
        --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
        --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    }

    &_theme_dark {
       --g-color-private-brand-50: rgba(255,108,166,0.1);
        --g-color-private-brand-100: rgba(255,108,166,0.15);
        --g-color-private-brand-150: rgba(255,108,166,0.2);
        --g-color-private-brand-200: rgba(255,108,166,0.3);
        --g-color-private-brand-250: rgba(255,108,166,0.4);
        --g-color-private-brand-300: rgba(255,108,166,0.5);
        --g-color-private-brand-350: rgba(255,108,166,0.6);
        --g-color-private-brand-400: rgba(255,108,166,0.7);
        --g-color-private-brand-450: rgba(255,108,166,0.8);
        --g-color-private-brand-500: rgba(255,108,166,0.9);
        --g-color-private-brand-550-solid: rgb(255,108,166);
        --g-color-private-brand-1000-solid: rgb(255,233,242);
        --g-color-private-brand-950-solid: rgb(255,226,237);
        --g-color-private-brand-900-solid: rgb(255,211,228);
        --g-color-private-brand-850-solid: rgb(255,196,219);
        --g-color-private-brand-800-solid: rgb(255,182,211);
        --g-color-private-brand-750-solid: rgb(255,167,202);
        --g-color-private-brand-700-solid: rgb(255,152,193);
        --g-color-private-brand-650-solid: rgb(255,137,184);
        --g-color-private-brand-600-solid: rgb(255,123,175);
        --g-color-private-brand-500-solid: rgb(233,100,153);
        --g-color-private-brand-450-solid: rgb(211,92,140);
        --g-color-private-brand-400-solid: rgb(189,84,126);
        --g-color-private-brand-350-solid: rgb(167,76,113);
        --g-color-private-brand-300-solid: rgb(145,69,100);
        --g-color-private-brand-250-solid: rgb(122,61,87);
        --g-color-private-brand-200-solid: rgb(100,53,74);
        --g-color-private-brand-150-solid: rgb(78,45,60);
        --g-color-private-brand-100-solid: rgb(67,41,54);
        --g-color-private-brand-50-solid: rgb(56,37,47);
        
        
        --g-color-base-brand: #FF6CA6;
        --g-color-base-background: rgb(34,29,34);
        --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
        --g-color-base-selection: var(--g-color-private-brand-150);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);
        --g-color-line-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-contrast: rgba(0, 0, 0, 0.9);
        --g-color-text-link: var(--g-color-private-brand-550-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
        --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
        --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    }
}

:root {

  --bg-main: radial-gradient(58.01% 47.04% at 50% 50%,rgb(99, 7, 33),rgb(19, 19, 19) 100%);
  --font-system: Roboto;
  --font-card: "LeMurmure";

  --photo-form-size-w: 290px;
  --photo-form-size-h: 552px;

  --bg-auth: linear-gradient(180.00deg, rgba(24, 24, 24, 0.69),rgba(10, 10, 10, 0.83) 100%),rgb(35, 35, 35);
  --pink: rgb(255, 108, 166);
  --white-pink: rgb(255, 198, 221);
  --blue: rgb(113, 108, 255);
  --white: rgb(255, 255, 255);
  --bg-input: rgb(9, 9, 9);
  --button-color: rgb(34, 31, 33);
  --main-color: var(--white);
}

body {
  margin: 0;
  font-family: var(--font-system);

}

#root {
  height: 100vh;
}
  